.breadcrumbs {
    h1 {
        font-size: 44px!important;
        font-weight: 300;
        font-family: $font-secundaria;
    }
}

.checkout-empty {
    text-align: center;
    
    a {
        width: 290px;
        height: 45px;
        line-height: 45px;
        display: block;
        margin: 0 auto;
        text-transform: uppercase;
        background-color: #636363;
        color: white;
        font-size: 17px;
        letter-spacing: 1px;
    }
}

.categoryProducts{

    .product-in-card{

        .content{

            a{
                border: none !important;
            }
        }
    }
}

.paginacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 8px;
    margin-top: 8px;
    border-top: 1px solid #dcdcdc;

    a {
        display: flex;
        margin: 0 5px;
        color: #a2a2a2;
        font-size: 13px;

        &.active {
            color: #cf1125;
            font-weight: bold;
        }

        i {
            margin: 0 15px;
        }
    }
}