﻿@{
    ViewBag.Title = "Error 404";
    Layout = "~/Views/Shared/Base/_LayoutErrors.cshtml";
}

<section>
    <div class="content">
        <h2>404</h2>
        <p>Página não encontrada</p>
    </div>
    
    <div class="buttons">
        <a href="/">Voltar</a>
        <a href="">Contate-nos</a>
    </div>
</section>