$menuBG: $primary-color;
$menuTextColor: $white;
$menuHeight: 50px;
$menuHoverBorderColor: $secondary-color;
$colorLinkSubMenu: "#666";

/*reset*/
@media screen and (min-width:$mobile-bp) {
  .ui.menu .item:before {display:none;}
  .ui.menu .dropdown.item:hover, .ui.menu .link.item:hover, .ui.menu a.item:hover {background-color: initial;}
}
/*reset*/

.menuheader {
  width: 100%;

  @media screen and (max-width: $mobile-bp) {
    background-color: $menuBG;
  }

  @media screen and (min-width:$mobile-bp) {
    padding-top: 20px;
  }

  /*Sub Classes*/
  .ui.menu {
    background: transparent;
    background-color: transparent;
    border: 0px;
    box-shadow: none;
    display: flex;
    font-weight: 400;
    min-height: 2.85714286em;
    flex-wrap: wrap;
    margin: 0;

    @media screen and (min-width:$mobile-bp) {
      justify-content: space-evenly;
    }

    li {
      >.item {
        word-wrap: normal;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        margin: 0;
        font-size: 17px;
        line-height: $menuHeight;


        >.icon.dropdown {
          line-height: 18px;
        }

        >.icon.content {
          font-size: 26px;
          line-height: 1;
          margin-right: 15px;
        }

        .menu {
          border-radius: 0px !important;
          margin-top: 0px !important;
          z-index: 10;

          .item {
            line-height: 18px;
          }
        }
      }
    }

    .header {
      a {
        color: $colorLinkSubMenu;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }

  .ui.menu .item {
    color: #000;
    @media screen and (max-width:$mobile-bp) {
      color: white;

      &:hover{
          color: black !important;
          background-color: white !important;
      }
    }
    line-height: $menuHeight;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .sub-megamenu {
    .ui.link.list {
      .item {
        color: rgba(0, 0, 0, 0.7);
        margin: 0.5em 0px;
        padding-left: 10px;
      }
    }
  }

  .ui.list {

    h4 {
      font-weight: normal;
    }

    .item {
      color: rgba(0, 0, 0, .7);
      padding-left: 10px !important;
    }
  }
}

/* Mega Menu Start */
@import "wsmenu/style";
/* MegaMenu End */
