@model List<DomainCheckout.Entities.PaymentBrand>
    
    @foreach (var item in Model)
    {
        <div class="title text big color black">
            <i class="barcode icon"></i>
            @item.NamePayment
            <i class="ui icon dropdown floated right"></i>
        </div>
        <div class="content">
            <p class="transition hidden"></p>
            <div class="field">
                <button class="ui labeled icon action large fluid button GerarPedido" data-idBrand="@item.IdPaymentBrand" data-Card="N" data-externalcode="@item.ExternalCode">
                    <i class="barcode icon"></i>
                    Pagar com Boleto Bancário
                    <input type="hidden" name="parcelamento" class="idInstallment" value="0" />
                    <input type="hidden" name="kind" value="boleto" />
                </button>
            </div>
        </div>
    }