.ui {

  &.filterListEventsProducts {
    .prompt {
      border-radius: 500rem;
    }
  }

  &.search {
    position: static;
    box-shadow: initial;

    >.results {

      @media screen and (max-width: $tablet-bp-max) and (min-width: $tablet-bp-min) {
        left: 50%;
        margin-left: -19.75em;
      }

      @media screen and (max-width: $mobile-bp) {
        top: 75px !important;
        width: 100% !important;
        max-height: 400px;
        overflow-x: hidden;
      }

      .result {
        @media screen and (max-width:$mobile-bp) {
          width: calc(100% / 2);
          float: none;
          display: inline-block;
        }

        .imagem+.content {
          margin: 0em 0em 0em 1em;
        }

        .imagem,
        .contents {
          display: flex;
          align-items: center;
        }

        .contents {
          flex-direction: column;
        }

        .imagem {
          float: left;
          overflow: hidden;
          background: none;
          max-width: 6rem;
          border-radius: 0;

          img {
            display: block;
            max-width: 6rem;

            @media screen and (max-width: $mobile-bp) {
              width: 78%;
              margin: 0 auto;
            }
          }
        }

        .title {
          margin: -0.14285714em 0em 0em;
          font-family: $font-family;
          font-weight: bold;
          font-size: 1em;
          color: rgba(0, 0, 0, 0.85);

          @media screen and (max-width: $mobile-bp) {
            font-size: 12px;
            line-height: 12px;
          }
        }
      }
    }
  }
}