﻿@{
    ViewBag.Title = string.IsNullOrEmpty(LojaCorp.Control.Company._Company.Title) ? LojaCorp.Control.Company._Company.NameStore : LojaCorp.Control.Company._Company.Title;
    Layout = "~/Views/Shared/Base/_Layout.cshtml";
}

<!-- ~/Views/Shared/Blocks/Banner/_FullBanner.cshtml -->
@Html.Action("FullBanner", "Banner")

<!-- ~/Views/Shared/Blocks/Product/_FeaturedProducts.cshtml -->
<div class="featuredProducts prateleira">@Html.Action("FeaturedProducts", "Product")</div>

<!-- ~/Views/Shared/Blocks/Group/_Groups.cshtml -->
<div class="customProducts">@Html.Action("Group", "Group")</div>

<!-- ~/Views/Shared/Blocks/Banner/_FooterHalfBanner.cshtml -->
@Html.Action("FooterHalfBanner", "Banner")

<!-- INSTAGRAM -->
<section class="box-instagram">
    <div class="title">
        <img src="/assets/image/logo/logo-insta.png" alt="Instagram" />
    </div>
    
</section>
