.box-instagram {
    .title {
        text-align: center;

        a {
            display: block;
            text-transform: uppercase;
            color: #a2a2a2;

            &:before {
                content: '@';
            }
        }
    }

    #instafeed {
        display: flex;
        justify-content: space-between;
        padding: 40px 0;
    
        @media screen and (max-width: $mobile-bp) {
            display: block;
            padding-top: 10px;
    
            //SETA MENOR
            .slick-arrow {
                width: 30px;
                height: 81px;
                top: 40%;
                background-repeat: no-repeat;
            }
        }
    
        article {
            @media screen and (min-width:$mobile-bp) {
                width:280px!important;
            }
            
            height: 280px;
            position: relative;
            overflow: hidden;
    
            @media screen and (max-width: $mobile-bp) {
                width: 100%;
                height: 345px;
                margin: 0;
            }
    
            &:hover {
                @media screen and (min-width: $mobile-bp) {
                    .likes {
                        opacity: 1;
                    }
                }
            }
    
            a {
                img {
                    width: 100%;
                    height: 100%;
    
                    @media screen and (max-width: $mobile-bp) {
                        height: auto;
                    }
                }
    
                .likes {
                    width: 100%;
                    height: 100%;
                    line-height: 265px;
                    font-size: 45px;
                    color: #fff;
                    position: absolute;
                    top: 0;
                    left: 0;
                    text-align: center;
                    opacity: 0;
                    transition: opacity 300ms;
                    background-color: rgba(0, 0, 0, 0.36);
                }
            }
        }
    }
}