@model List<DomainCompany.Entities.Faq>
    
    @{
        ViewBag.Title = "Central de Atendimento";
        Layout = "~/Views/Shared/Base/_LayoutBreadCrumb.cshtml";
    }
    
    
    @section breadcrumbs {
        <div class="banner-custom">
            <img src="/assets/image/banners/banner-faq.jpg" alt="Central de Atendimento" />
        </div>
        
        <div class="ui container">
            <div class="ui two column grid stackable middle aligned commonQuestions title">
                <div class="row">
                    <div class="column">
                        <h1>@ViewBag.Title</h1>
                        <p>Veja as dúvidas frequentes de nossos usuários</p>
                    </div>
                </div>
            </div>
        </div>
    }
    
    <div class="ui grid margin bottom large commonQuestions content">
        <div class="row one column">
            <div class="column">
                <div class="ui items">
                    @if (Model != null)
                    {
                        foreach (var faq in Model)
                        {
                            <div class="accordion">
                                <p class="title"><img src="/assets/image/icones/ico-arrow-small.png"/> @faq.Question</p>
                                
                                <div class="conteudo">
                                    @faq.Answer
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="text center">Até o momento não exisem dúvidas frequentes.</div>
                    }
                </div>
            </div>
        </div>
    </div>
    
    <div class="ui grid commonQuestions content">
        <div class="sixteen wide tablet sixteen wide computer column">
            <h2>Não encontrou o que procura? entre em contato</h2>
        </div>
        
        <div class="sixteen wide tablet eight wide computer column">
            <div class="box">
                <p class="title">Atendimento por email</p>
                <p>Envie sua mensagem que em breve retornaremos o contato</p>
                
                
                <div class="sixteen wide computer sixteen wide tablet sixteen wide mobile column">
                    @using (Ajax.BeginForm("Contact", "Customer", new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess", OnFailure = "onFailure" }, new { @class = "ui large form", @id = "formContact" }))
                    {
                        @Html.AntiForgeryToken()
                        
                        <div class="ui segment">
                            <div class="ui grid  very relaxed stackable middle aligned grid left aligned">
                                <div class="row one column">
                                    <div class="column">
                                        
                                        <div class="field required">
                                            <label>Nome</label>
                                            <div class="ui left icon input">
                                                <i class="user icon"></i>
                                                <input type="text" maxlength="100" name="Name" placeholder="Nome"
                                                value="" data-validate="name">
                                            </div>
                                        </div>
                                        <div class="field required">
                                            <label>E-mail</label>
                                            <div class="ui left icon input">
                                                <i class="mail icon"></i>
                                                <input id="email" type="text" maxlength="100" name="Email" placeholder="E-mail"
                                                value="" data-validate="email">
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="three fields">
                                            <div class="field required">
                                                <label>Telefone</label>
                                                <div class="ui left icon input">
                                                    <i class="phone icon"></i>
                                                    <input type="text" name="Phone"
                                                    placeholder="(00) 00000-0000" class="masked mask_phone"
                                                    data-validate="phone">
                                                </div>
                                            </div>
                                            <div class="field required">
                                                <label>Estado</label>
                                                <select class="ui dropdown search" id="estado_0"
                                                name="State" data-validate="state">
                                                <option value="">Selecione</option>
                                                <option value="AC">Acre</option>
                                                <option value="AL">Alagoas</option>
                                                <option value="AP">Amapá</option>
                                                <option value="AM">Amazonas</option>
                                                <option value="BA">Bahia</option>
                                                <option value="CE">Ceará</option>
                                                <option value="DF">Distrito Federal</option>
                                                <option value="ES">Espírito Santo</option>
                                                <option value="GO">Goiás</option>
                                                <option value="MA">Maranhão</option>
                                                <option value="MT">Mato Grosso</option>
                                                <option value="MS">Mato Grosso do Sul</option>
                                                <option value="MG">Minas Gerais</option>
                                                <option value="PA">Pará</option>
                                                <option value="PB">Paraíba</option>
                                                <option value="PR">Paraná</option>
                                                <option value="PE">Pernambuco</option>
                                                <option value="PI">Piauí</option>
                                                <option value="RJ">Rio de Janeiro</option>
                                                <option value="RN">Rio Grande do Norte</option>
                                                <option value="RS">Rio Grande do Sul</option>
                                                <option value="RO">Rondônia</option>
                                                <option value="RR">Roraima</option>
                                                <option value="SC">Santa Catarina</option>
                                                <option value="SP">São Paulo</option>
                                                <option value="SE">Sergipe</option>
                                                <option value="TO">Tocantins</option>
                                            </select>
                                        </div>
                                        <div class="field required">
                                            <label>Cidade</label>
                                            <div class="ui input">
                                                <input type="text" maxlength="100" name="City" placeholder="Cidade"
                                                data-validate="city">
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="div two fields">
                                        <div class="field required">
                                            <label>Descrição</label>
                                            <div class="ui dropdown selection" tabindex="0"><select data-validate="select" name="ContactTopic.IdContactTopic">
                                                <option value="">Selecione</option>
                                                <option value="1468">Dúvidas</option>
                                                <option value="1469">Sugestões</option>
                                                <option value="1470">Outros</option>
                                            </select><i class="dropdown icon"></i><div class="default text">Selecione</div><div class="menu" tabindex="-1"><div class="item" data-value="1468">Dúvidas</div><div class="item" data-value="1469">Sugestões</div><div class="item" data-value="1470">Outros</div></div></div>
                                        </div>
                                        <div class="field required">
                                            <label>Assunto</label>
                                            <div class="ui left icon input">
                                                <i class="mail icon"></i>
                                                <input type="text" maxlength="100" name="Subject" placeholder="Assunto"
                                                value="" data-validate="assunto">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="field required">
                                        <label>Mensagem</label>
                                        <textarea maxlength="6000" name="Message"></textarea>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <a href="/Home" class="ui animated button large basic left floated form_refresh">
                                        <div class="visible content">Voltar</div>
                                        <div class="hidden content">
                                            <i class="arrow left icon"></i>
                                        </div>
                                    </a>
                                    <button id="submitContact" type="submit"
                                    class="ui animated button large submit primary right floated continuar"
                                    tabindex="0">
                                    <div class="visible content">Enviar</div>
                                    <div class="hidden content">
                                        <i class="send icon"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="sixteen wide tablet eight wide computer column">
    <div class="box">
        <p class="title">Atendimento por telefone</p>
        <p>Nossos horários de atendimento são de segunda a sexta-feira das 09:00 às 18:00 (exceto feriados).</p>
        
        <ul> 
            <li>
                <p><strong>SP: </strong><a href="https://wa.me/551199999999" target="_blank">(11) 99999-9999</a></p>
            </li>
            
            <li>
                <p><strong>Email: </strong><a href="mailto:lovissafesta@gmail.com">lovissafesta@gmail.com</a></p>
            </li>
        </ul>
    </div>
</div>
</div>

@section custom_js {
    <script>
        function onSuccess(response) {
            if (response.success == true) {
                swal({                 
                    text: response.message,
                    type: 'success',
                    showCancelButton: false,
                    confirmButtonColor: '#16ab39',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'OK'
                }).then(function () {
                    window.location.href = "/Home";
                });
            }
            else {
                swal({                    
                    text: response.message,
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonColor: '#16ab39',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'OK'
                });
            }
        }
        
        function onFailure(response) {
            if (response.success == false) {
                swal({
                    text: response.message,
                    type: 'error',
                    showCancelButton: false,
                    confirmButtonColor: '#16ab39',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'OK'
                }).then(function () {
                    window.location.href = "/Home";
                });
            }
        }
    </script>    
}