//FONTE PRINCIPAL
$body-font-size: 14px;
$import-google-fonts: false;
$font-url: 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800';
$font-name: 'Open Sans';
$font-family: $font-name, 'Open Sans', Arial, Helvetica, sans-serif;

//FONTE SECUNDARIA
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700');
$font-secundaria: 'Open Sans Condensed', sans-serif;