.car-marcas {
    .slick-slide {
        margin: 0px 10px;
    }
}
.thumbnails{
    .slick-slide{
      @media screen and (max-width:$mobile-bp) {
        margin-right: 5px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
}

.slick-slider {
  &.centralized {
    .slick-track {
      display: flex !important;
      align-items: center !important;
    }
  }

  &:not(.slick-dotted) {
    margin-bottom: 40px !important;
  }

  .slick-prev[dir="rtl"] {
    left: auto;
    right: 25px;
  }

  .slick-next[dir="rtl"] {
    left: 25px;
    right: auto;
  }

  .slick-prev, .slick-next {
    @media screen and(max-width: $mobile-bp) {
      display: none;
    }

    opacity: 0.5;
    transition: 0.3s;
    z-index: 9;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top:25%;
    z-index: 1;
    width:30px;
    height: 81px;
    border:none!important;
    background-color: transparent;
    cursor: pointer;
    font-size: 0;
  }

  .slick-prev {
    left:11px;
    background-image: url(/assets/image/icones/ico-slick-prev.png);
  }

  .slick-next {
    right:8px;
    background-image: url(/assets/image/icones/ico-slick-next.png);
  }
}

.slick-dotted.slick-slider {
    margin-bottom: 0px;
}

.slick-dots {
  display: block;
    list-style: none;
    text-align: center;
    padding-top: 20px;
    margin: 0;
    width: 100%;
    font-size: 0;

    @media screen and (max-width: $mobile-bp) {
        position: relative;
        bottom: 0;
    }

    li {
        display: inline-block;
        height: 20px;
        width: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        &.slick-active {
          button {
            background-color: $slick-dot-color-active;
          }
        }

        button {
            border: 0;
            background: transparent;
            transition: background-color 300ms;
            display: block;
            height: 15px;
            width: 15px;
            border-radius: 50px;
            outline: none;
            color: transparent;
            cursor: pointer;
            background-color: #CCCCCC;
        }
    }
}

// == Tratativa para evitar quebra do carrossel no Edge
.container-product-cards {
  .slick-slide {
    padding: 2px !important;
  }
}
