/*BANNER*/
.banner-custom {
    img {
        width: 100%;
        height: auto;
    }
}
/*FIM - BANNER*/

/*DÚVIDAS FREQUENTES*/
.commonQuestions {
    &.title {
        h1,
        p {
            text-transform: uppercase;
        }
        
        h1 {
            font-family: $font-secundaria;
            font-size: 44px;
            font-weight: 300;
            margin-bottom: 0;
        }

        p {
            font-size: 18px;
        }
    }

    &.content {
        .accordion {
            padding: 15px;
            border-bottom: 1px solid #dcdcdc;
            transition: background-color 300ms;
            
            &.active {
                background-color: #f9f9f9;
                border-bottom: none;
                
                .title {
                    img {
                        transform: rotate(180deg);
                    }
                }
            }
            
            .title {
                margin: 0;

                img {
                    transition: transform 300ms;
                    margin-right: 10px;
                }
            }

            .conteudo {
                display: none;
                margin-top: 25px;
            }
        }

        h2 {
            font-size: 18px;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 25px;
            margin: 0;
        }

        .box {
            background-color: #f9f9f9;
            padding: 20px;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }

            .title {
                text-transform: uppercase;
                font-size: 16px;
            }

            form {                
                fieldset {
                    padding: 0;
                    border: none;


                    textarea {
                        width: 100%;
                        height: 100px;
                        resize: none;
                        border: none;
                        margin-bottom: 10px;
                    }

                    &.ft {
                        a {
                            float: left;
                            text-decoration: underline;
                            height: 40px;
                            line-height: 40px;

                            @media screen and (max-width:$mobile-bp) {
                                width: 100%;
                                float: none;
                                margin-bottom:10px;
                            }
                        }
    
                        input[type="submit"] {
                            float: right;
                            width: 160px;
                            height: 40px;
                            line-height: 40px;
                            border: none;
                            padding: 0;
                            background-color: #3dbcad;
                            color: white;
                            cursor: pointer;
                            font-size: 18px;

                            @media screen and (max-width:$mobile-bp) {
                                width: 100%;
                                float: none;
                                margin-bottom:10px;
                            }
                        }
                    }

                }
            }
        }
    }
}
/*FIM - DÚVIDAS FREQUENTES*/

/*INSTITUCIONAL*/
.institucional {
    &.title {
        h1 {
            font-family: $font-secundaria;
            text-transform: uppercase;
            font-size: 44px;
            font-weight: 300;
            margin-bottom: 0;
        }

        p {
            font-size: 16px;
        }
    }

    &.content {
        .text {
            padding-top: 20px;
        }
        
        .box {
            background-color: #f9f9f9;
            padding: 20px;
        
            @media screen and (min-width:$mobile-bp) {
                height: 265px;
            }
        
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        
            .title {
                text-transform: uppercase;
                font-size: 16px;
            }
        }
    }
}
/*FIM - INSTITUCIONAL*/