#overlay {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	background: rgba(130, 130, 130, 0.5);
	position: fixed;
	transition: opacity .5s;
	visibility: hidden;
	z-index: 9;

	&.active {
		opacity: 1;
		visibility: visible;
	}

	&.strong {
		opacity: 1;
		visibility: visible;
		z-index: 15;
	}
}

.pusher {
	padding-top: 30px;
	
	@media screen and (min-width:$mobile-bp) {
		padding-top: 115px;
	}
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.ui.card.produto:hover, .ui.card.produto:focus {
	box-shadow: none!important;
}

.ui.top.attached.label:first-child + :not(.attached), .ui.top.attached.label + [class*="right floated"] + * {
	margin-top: 0!important;
	border: 0;
}
