﻿<div class="box-option">
    <div class="active title">Preço<i class="dropdown icon"></i></div>
    <div class="active content">
        <div class="ui form">
            <ul class="filter-price">
                <li>
                    <div class="ui input left icon fluid">
                        <i class="dollar icon"></i>
                        <input type="text" name="initialPrice" id="initialPrice" placeholder="Min">
                    </div>
                </li>

                <li>
                    <div class="ui input left icon fluid">
                        <i class="dollar icon"></i>
                        <input type="text" name="finalPrice" id="finalPrice" placeholder="Max">
                    </div>
                </li>

                <li>
                    <button class="labeled primary fluid pricefilter"><i class="check icon"></i></button>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    $("#initialPrice, #finalPrice").mask("#.##0,00", {
        reverse: true
    });
</script>