﻿<!-- SCRIPTS -->
<script src="~/assets/js/instafeed.js"></script>
<script src="~/assets/js/manifest.js"></script>
<script src="~/assets/js/vendor.js?v1"></script>
<script src="~/assets/js/app.js?v1"></script>
<!-- FIM - SCRIPTS -->

<!--GLOBAL-->
<script type="text/javascript">
    $(document).ready(function () {
        updateQuantidadeTopoCarrinho();

        var geral = (function () {
            var desktop = {
                busca: function () {
                    $('header .btn_busca').on('click', function (e){
                        e.preventDefault();
                        $('#busca, #overlay').addClass('active');
                    });

                    $('#busca .searchcolumn input[type="text"] + .close-menu-mob').on('click', function (e){
                        e.preventDefault();
                        $('#busca, #overlay').removeClass('active');
                    });

                    $('.btn_busca').on('click', function(){
                        $('.input').find(".prompt").focus();
                    });
                },
            }

            var mobile = {
                open_busca: function () {
                    $('header .btn_busca').on('click', function (e){
                        e.preventDefault();
                        $('#busca, #overlay').addClass('active');
                    });

                    $('#busca .searchcolumn input[type="text"] + .close-menu-mob').on('click', function (e){
                        e.preventDefault();
                        $('#busca, #overlay').removeClass('active');
                    });

                    $('.btn_busca').on('click', function(){
                        $('.input').find(".prompt").focus();
                    });

                    $('#wsnavtoggle').click(function () {

                        $('.topbar').toggle();

                    });
                },
                slick_topbar: function () {
                    $(".topbar-mob").slick({
                        autoplay:true,
                        arrows: false,
                        fade: true,
                        dots: false,
                        slidesToShow: 1
                    });
                },
                slick_topbar: function () {
                    $(".topbar-mob").slick({
                        autoplay:true,
                        arrows: false,
                        fade: true,
                        dots: false,
                        slidesToShow: 1
                    });
                }
            }

            if ($(window).width() < 768) {
                mobile.open_busca();
                mobile.slick_topbar();
            } else {
                desktop.busca();
            }
        })();

        var produto = (function () {
            var desktop = {
                indisponivel: function () {
                    $( document ).ajaxComplete(function() {
                        //REMOVE ESTILO DEFAULT
                        $('.skulist .variacao-radio').removeClass('ui basic primary button radio tiny');

                        if ($('#principal-lista-sku').length) {
                            var array = JSON.parse($('#principal-lista-sku').val());
                            var id_sku = parseInt($('#produto-sku').val());
                            var info_prod_sku = array.filter(element => element.IdSku === id_sku);

                            if ( info_prod_sku[0].Stock === 0 ) {
                                $('.skulist .variacao-radio.selecionado').addClass('disabled');
                            }
                        }
                    });
                },

                buyTogether: function () {
                    $('.buy-together-list').slick({
                        dots: false,
                        arrows: true,
                        infinite: false,
                        autoplay: true,
                        speed: 1000,
                        slidesToShow: 1,
                        slidesToScroll: 1
                    });
                },

                removeClass: function () {
                    $('.produto .slick-arrow').removeClass('ui mini button basic black icon');
                },

                guia_medidas: function () {
                    $('#btn_medidas').on('click', function () {
                        $('#pop_up_guia').toggleClass('active');
                        $('#overlay').toggleClass('strong');
                    });

                    $('#pop_up_guia .close').on('click', function () {
                        $('#btn_medidas').trigger('click');
                    });
                },
            }

            desktop.indisponivel();
            desktop.buyTogether();
            desktop.removeClass();
            desktop.guia_medidas();
        })();

        var institucional = (function () {
            var desktop = {
                send_message: function () {
                    $('#submitContact').click( function(e) {
                        e.preventDefault();
                        $.ajax({
                            url: '/fale-conosco?Length=8',
                            type: 'POST',
                            dataType: 'JSON',
                            data: $('#formContact').serialize(),
                            success: function(data) {
                                console.log(data);
                                swal("Sua mensagem foi enviada!", "Em breve retornaremos o contato!", "success");
                            }
                        });
                    });
                },

                accordion: function () {
                    $('.accordion').on('click', function () {
                        $(this).toggleClass('active');

                        if ($(this).find('.conteudo').hasClass('active')) {
                            $(this).find('.conteudo').removeClass('active');
                            $(this).find('.conteudo').slideUp();
                        } else {
                            $('.conteudo').slideUp();
                            $('.conteudo').removeClass('active');
                            $(this).find('.conteudo').slideDown();
                            $(this).find('.conteudo').addClass('active');
                            $('.accordion').removeClass('active');
                            $(this).addClass('active');
                        }
                    });
                },
            }

            desktop.send_message();
            desktop.accordion();
        })();

        var departamento = (function() {
            var desktop = {
                check_button: function () {
                    $(document).on('click', '#filter a.filters', function () {
                        var data_id = $(this).attr('data-id');
                        $('#filtroList .box-option .content .form .field button[id="'+data_id+'"]').removeClass('checked');
                    });

                    $('#filtroList .box-option .content .form .field button').on('click', function () {
                        $(this).addClass('checked');
                        var id = $(this).attr('id');
                    });

                    $('.item.buy-together .skulist button').on('click', function () {
                        $(this).toggleClass('selecionado');
                    });
                },
            }

            desktop.check_button();
        })();

        var home = (function (){
            var mobile = {
                footerHalf: function () {
                    $('.footerHalf ul').slick({
                        dots: false,
                        arrows: false,
                        infinite: false,
                        autoplay: true,
                        speed: 1000,
                        slidesToShow: 1,
                        slidesToScroll: 1
                    });
                }
            }

            var desktop = {
                instagram: function () {
                    if ($('#instafeed').length > 0) {
                        console.log('teste instafeed');
                        var feed = new Instafeed({
                            get: 'user',
                            userId: 'CHANGEME',
                            accessToken: 'CHANGEME',
                            target: 'instafeed',
                            limit: '10',
                            resolution: 'standard_resolution',
                            template: '<article><a href="{{link}}" class="insta" target="_blank" ><img src="{{image}}" /><div class="likes">&hearts; {{likes}}</div></a></article>',
                            after: function () {
                                console.log('teste instafeed-2');
                                var el = $('#instafeed');
                                if (el.classList)
                                    el.classList.add('show');
                                else
                                    el.className += ' ' + 'show';

                                if ($(window).width() < 768) {
                                    console.log('teste instafeed-3');
                                    $('#instafeed').slick({
                                        dots: false,
                                        arrows: true,
                                        infinite: false,
                                        autoplay: true,
                                        speed: 1000,
                                        slidesToShow: 1,
                                        slidesToScroll: 1,
                                        responsive: [{
                                                breakpoint: 1024,
                                                settings: {
                                                    slidesToShow: 1,
                                                    slidesToScroll: 1,
                                                    infinite: true
                                                }
                                            },
                                            {
                                                breakpoint: 600,
                                                settings: {
                                                    slidesToShow: 1,
                                                    slidesToScroll: 1
                                                }
                                            }
                                        ]
                                    });
                                } else {
                                    $('#instafeed').slick({
                                        centerMode: true,
                                        centerPadding: '60px',
                                        arrows:true,
                                        slidesToShow: 4,
                                        responsive: [
                                            {
                                            breakpoint: 768,
                                            settings: {
                                                centerMode: true,
                                                centerPadding: '40px',
                                                slidesToShow: 3
                                            }
                                            },
                                            {
                                            breakpoint: 480,
                                            settings: {
                                                centerMode: true,
                                                centerPadding: '40px',
                                                slidesToShow: 1
                                            }
                                            }
                                        ]
                                        });
                                }
                            }
                        });

                        feed.run();
                    }
                },

                prateleira: function () {
                    $('.featuredProducts .cards, .customProducts .cards').slick({
                        dots: false,
                        arrows: true,
                        infinite: false,
                        autoplay: false,
                        slidesToShow: 4,
                        slidesToScroll: 1,
                        responsive: [
                            {
                            breakpoint: 1024,
                            settings: {
                                slidesToShow: 3
                            }
                            },
                            {
                            breakpoint: 812,
                            settings: {
                                slidesToShow: 2
                            }
                            }
                        ]
                    });
                }
            }

            desktop.instagram();
            desktop.prateleira();

            if ( $(document).width() < 992 ) {
                mobile.footerHalf();
            }
        })();
    });

    function updateQuantidadeTopoCarrinho() {
        $.ajax({
            method: "GET",
            url: "@(Session["EventList"] != null ? "/EventList/TotalItensList" : "/Checkout/TotalItensCart")",
            data: {},
            cache: false,
            success: function (data) {
                $("#total_itens_card").text(data);
                if (data != "")
                    $("#MiniCartTitle").text("@(Session["idEventList"] == null && Session["EventList"] == null ? "Meu Carrinho" : "Minha Lista") (" + data + ")")
            },
            onFailure: function (data) {
                    if (action == "plus") {
                        valorInput -= 1;
                    } else {
                        valorInput += 1;
                    }
                }
             });
    }

    $(window).on('load', function(){
        // busca mobile
        $(document).on("click", ".btn-mob-search", function (e) {
            location.href = `/busca?n=${$(".prompt").val()}&mdf=${$("#metaDataField").val()}&mdv=${$("#metaDataValue").val()}`;
        });
    });

    $(document).ready(function(){
        if(window.outerWidth <= 769){
            $('.top-bar-header ul').slick({
                dots: false,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                variableWidth: true
            });
        }
        
        if (window.location.href.indexOf("/institucional/995/3553") > -1) {
            $("#bannersInstitucional").attr('src', '/assets/image/banners/politicas-de-entrega-01.jpg');
        }
        
        if (window.location.href.indexOf("/institucional/995/3554") > -1) {
            $("#bannersInstitucional").attr('src', '/assets/image/banners/politicas-de-pagamento.jpg');
        }
        
        if (window.location.href.indexOf("/institucional/995/3556") > -1) {
            $("#bannersInstitucional").attr('src', '/assets/image/banners/Trocas-01.jpg');
        }
    });
</script>
