﻿<!-- Theme -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,900,400italic,700italic&subset=latin,latin-ext"/>
<link rel="stylesheet" href="~/assets/css/style.css">

<style>




.jetBg .pusher {
    padding-top: 0px !important;
}


.ui[class*="bottom right attached"].label{
    top: 0 !important;
    padding-top: 5px !important;
    padding-right: 0 !important;
}

.ui[class*="bottom right attached"].label img{
    width: 60px !important;
    height: 60px !important;
}


</style>