﻿<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>@(string.IsNullOrEmpty(ViewBag.Title) ? LojaCorp.Control.Company._Company.Title : ViewBag.Title)</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="google-site-verification" content="RrgdVHHoaIqiuP66THCL-Dl77RFhIAUYLKqPitC1EbU" />
<link rel="apple-touch-icon" sizes="144x144" href="~/assets/image/favicon/new-favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="~/assets/image/favicon/new-favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="~/assets/image/favicon/new-favicon/favicon-16x16.png">
<link rel="mask-icon" href="~/assets/image/favicon/new-favicon/safari-pinned-tab.svg" color="#000000">
<link rel="manifest" href="~/assets/image/favicon/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="~/assets/image/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">

@{
string urlCanonical = Request.Url.AbsolutePath.ToLower();
string canonical = !Request.Url.AbsoluteUri.Contains("www") ? "https://www." + Request.Url.Host + Request.Path : "https://" + Request.Url.Host + Request.Path;

string[] words = urlCanonical.Split('/');

if (words[1] == "" || words[1].ToLower() == "home")
{
<link rel="canonical" href="https://www.@Request.Url.Host"/>
}
else
{
<link rel="canonical" href="@canonical"/>
}
} 


@Html.Partial("Common/_SEO")

<script type="text/javascript">
    window.onload = function () {
        var svr = document.createElement("div");
        svr.setAttribute("type", "hidden");
        svr.setAttribute("id", "svr");
        svr.setAttribute("value", "@Context.Server.MachineName");

        document.body.appendChild(svr);
    }
</script>
