﻿<section class="topbar">
    <div class="ui container" style="height: 30px">
        <div class="ui grid" style="height: 30px">
            <div class="four column row topbar-desk">
                <div class="column">
                    <p>
                        <i class="icon credit card outline"></i>
                        Compre em até 5x sem juros
                    </p>
                </div>

                <div class="column">
                    <p>
                        <i class="icon truck"></i>
                        Frete grátis para compras acima de R$350,00
                    </p>
                </div>

                <div class="column">
                    <p>
                        <i class="icon random"></i>
                        Primeira Troca Grátis
                    </p>
                </div>

                <div class="column">
                    <p class="whats">
                        <a href="https://wa.me/5511971349447" style="color: rgb(255, 255, 255);-webkit-text-fill-color: white;">
                            <i class="icon whatsapp"></i>
                            (11) 97134-9447
                        </a>
                    </p>
                </div>
            </div>

            <div class="topbar-mob">
                <p>
                    <i class="icon credit card outline"></i>
                    Compre em até 5x sem juros
                </p>

                <p>
                    <i class="icon truck"></i>
                    Frete grátis para compras acima de R$350,00
                </p>

                <p>
                    <i class="icon random"></i>
                    Primeira Troca Grátis
                </p>

                <p class="whats">
                    <span style="color: rgb(255, 255, 255);-webkit-text-fill-color: white;">
                        <i class="icon whatsapp"></i>
                        (11) 99999-9999
                    </span>
                </p>
            </div>
        </div>
    </div>
</section>
