﻿<div class="ui container fluid inverted vertical segment subFooter">
    <div class="ui container">
        <div class="ui two column grid">
            <div class="row">
                <div class="column text small">
                    <p>Copyright © - JET e-business. Todos os direitos reservados</p>
                    <address>
                        Rua Galileu Galilei, 1800, 7º Andar. Jd. Irajá<br> CEP 14020-620 - Ribeirão Preto - SP
                    </address>
                </div>
                <div class="right aligned column">

                    <div class="paymentcards">
                        <i class="visa icon big"></i>
                        <i class="mastercard icon big"></i>
                        <i class="discover icon big"></i>
                        <i class="american express icon big"></i>
                        <i class="paypal card icon big"></i>
                    </div>
                    <div class="ui divider hidden"></div>
                    <div class="ui tiny images">

                        <img class="ui image" src="~/assets/image/selos/comodo.png">
                        <img class="ui image" src="~/assets/image/selos/clearsale.png">
                        <img class="ui image" src="~/assets/image/selos/site_blindado.png">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui container fluid inverted vertical segment jetBrand">
    <div class="ui container">
        <img src="~/assets/image/logo/jet_logo_branco.png">
    </div>
</div>

<div class="modal-block">

</div>

<!-- Hotjar Tracking Code for https://www.neteletrica.com.br/ -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1077101,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
